@charset "UTF-8";

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

html * {
	font-family: 'NanumSquare', sans-serif;
	text-underline-position: under;
}

.ProseMirror div, .toastui-editor-contents p {
	font-size: 1.5rem;
}

#modalLayer-bg, #modalLayer {
	display: none;
}

#modalLayer-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
}

#modalLayer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: #afafaf;
	color:white;
	width: 500px;
	height: 500px;
	border: 5px solid red;
}