@charset "UTF-8";

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

html * {
	font-family: 'NanumSquare', sans-serif;
	text-underline-position: under;
}

.ProseMirror div, .toastui-editor-contents p {
	font-size: 1.5rem;
}